@import url('__triangle/kaufman__triangle.css');

.kaufman {
  padding-bottom: 90px;
  padding-top: 90px;
  color: white;
  background-color: #1f1f1f;
  overflow: hidden;
  position: relative;
  z-index: 1;
}